<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>04 - Java REST Example - Google AppEngine Integration + Performance Test</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.9.1">
      <projectUrl>https://github.com/hostirosti/java-rest-example-appengine/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 7u72</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>${JENKINS_HOME}/workspace/03-jre-unit-integration-test/</customWorkspace>
  <rootModule>
    <groupId>hostirosti</groupId>
    <artifactId>java-rest-example</artifactId>
  </rootModule>
  <goals>generate-test-resources test-compile failsafe:integration-test jmeter:jmeter -Dintegration-test=online</goals>
  <mavenName>Maven 3.2.2</mavenName>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>true</disableTriggerDownstreamProjects>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@1.11">
      <errorFailedThreshold>0</errorFailedThreshold>
      <errorUnstableThreshold>0</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>0.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>0.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>0.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>0.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <modeRelativeThresholds>false</modeRelativeThresholds>
      <configType>ART</configType>
      <modeOfThreshold>false</modeOfThreshold>
      <compareBuildPrevious>false</compareBuildPrevious>
      <xml></xml>
      <modePerformancePerTestCase>true</modePerformancePerTestCase>
      <parsers>
        <hudson.plugins.performance.JMeterParser>
          <glob>**/*.jtl</glob>
        </hudson.plugins.performance.JMeterParser>
      </parsers>
      <modeThroughput>false</modeThroughput>
    </hudson.plugins.performance.PerformancePublisher>
  </publishers>
  <buildWrappers/>
  <prebuilders>
    <hudson.tasks.Shell>
      <command># Deploy App to Google App Engine
appcfg.sh update $WORKSPACE/target/JavaRESTExample/
. $WORKSPACE/gae.properties
appcfg.py set_default_version -A $gae_project_id -V $gae_project_version

# Set JMeter slaves configuration TBD</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.90">
      <info>
        <propertiesFilePath>gae.properties</propertiesFilePath>
        <propertiesContent>TESTSERVER_ENDPOINT_PROTOCOL=http
TESTSERVER_ENDPOINT_HOST=$gae_project_id.appspot.com
TESTSERVER_ENDPOINT_PORT=80</propertiesContent>
      </info>
    </EnvInjectBuilder>
  </prebuilders>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>. $WORKSPACE/gae.properties
appcfg.py set_default_version -A $gae_project_id -V 1
appcfg.py delete_version -A $gae_project_id -V $gae_project_version</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>